/* =========================
   App Container
========================= */
.app-container {
  width: 100%;           /* بدل 100vw */
  max-width: 100%;       /* بدل 100vw */
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  min-width: 0;
}